@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Vidly.Models.Customer

@{

}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lumen.css" />
</head>
<body>
    <h2>@Model.Name - @Model.Age</h2>
</body>